<div>
  <div id="title">
    <img
      src="/assets/unitySportsLogo.svg"
      alt="Logotipo corporativo de Unity Sports en gris oscuro"
      width="500"
    />
    <h2>Entrenamiento personalizado</h2>
  </div>

  @if (contactForm) {
  <div id="form">
    <img
      src="/assets/sportMan.webp"
      alt="Hombre en escala de grises con camiseta y zapatillas deportivas verdes realizando un sprint"
    />

    <form [formGroup]="contactForm" (ngSubmit)="send()">
      <fieldset>
        <legend>Objetivo</legend>

        <label>
          @if (!validField('goal')) {
          <span>¿Cuál es tu objetivo?</span>
          } @else {
          <span class="label-error">Indica un objetivo</span>
          }

          <input
            type="text"
            formControlName="goal"
            placeholder="Ganar masa muscular, Perder peso..."
            required
          />
        </label>

        <label>
          @if (!validField('achievement')) {
          <span
            >¿Hasta qué punto es importante para ti conseguir tu objetivo?</span
          >
          } @else {
          <span class="label-error"
            >Indica hasta qué punto es importante para ti conseguir tu
            objetivo</span
          >
          }

          <input
            type="text"
            formControlName="achievement"
            placeholder="Hasta la muerte, Como pasatiempo..."
            required
          />
        </label>

        <label>
          @if (!validField('acquaintance')) {
          <span>¿Cómo nos has conocido?</span>
          } @else {
          <span class="label-error">Indica cómo me has conocido</span>
          }

          <input
            type="text"
            formControlName="acquaintance"
            placeholder="Instagram, Por conocid@s..."
            required
          />
        </label>

        <label for="worth">
          @if (!validField('worth')) {

          <span
            >¿Qué valor (en euros al mes) crees que tiene transformar tu físico
            por completo?</span
          >
          } @else {
          <span class="label-error"
            >Indica qué valor (en euros al mes) crees que tiene transformar tu
            físico por completo</span
          >
          }

          <select formControlName="worth" id="worth">
            <option value="minor">120€ a 199€</option>
            <option value="middle">200€ a 249€</option>
            <option value="major">+250€</option>
          </select>
        </label>
      </fieldset>

      <fieldset>
        <legend>Información personal</legend>

        <label>
          @if (!validField('name')) {
          <span>Nombre</span>
          } @else {
          <span class="label-error">Nombre obligatorio</span>
          }

          <input
            type="text"
            formControlName="name"
            placeholder="Jose"
            required
          />
        </label>

        <label>
          @if (!validField('surname')) {
          <span>Apellidos</span>
          } @else {
          <span class="label-error">Apellidos obligatorios</span>
          }

          <input
            type="text"
            formControlName="surname"
            placeholder="García Navarro"
            required
          />
        </label>
      </fieldset>
      <fieldset>
        <legend>Contacto</legend>

        <label>
          @if (!validField('phone')) {
          <span>Número de teléfono</span>
          } @else {
          <span class="label-error">Número de teléfono inválido</span>
          }
          <input
            type="number"
            formControlName="phone"
            placeholder="678901234"
          />
        </label>
        <label
          >@if (!validField('mail')) {
          <span>Correo electrónico</span>
          } @else {
          <span class="label-error">Correo electrónico inválido</span>
          }
          <input
            type="email"
            formControlName="mail"
            placeholder="jose@garcia.com"
          />
        </label>
      </fieldset>

      <p>
        Al enviar este formulario indica que ha leído, entiende y acepta la
        <a href="https://unitysports.es/politica-de-privacidad/" target="_blank"
          >política de privacidad</a
        >.
      </p>

      @if (!loading && !formSubmitted) {
      <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
      } @if (loading && !formSubmitted) {
      <button disabled>Enviando...</button>
      } @if (!loading && formSubmitted) {
      <button disabled>Enviado</button>
      }
    </form>
  </div>
  }
</div>
